*{
  margin:3px;
  padding:5px;
}
#div1 {
    background-color:green;
    color:white;
    font-size:16px;
	padding:8px;
}

#div2 {
    background-color:blue;
    font-size:16px;
	color:white;
	text-align: right;

}

#div2 ul {
    display: flex;
    list-style: none;
    justify-content: right;
}

#div3 {
    background-color:black;
    color:white;
	text-align:center;
}

#div4 {
    background-color:white;
    color:purple;
}

.gallery {
    display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.caption{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#div4 h1 {text-align: center;}
.main1{
  height:50px;
  background-color:blue;
}
.main2{
  height:50px;
  background-color:green;
}

.main1 ul{
display:flex;
justify-content:space-evenly;
list-style-type:none
}